@font-face {
    font-family: 'B52';
    src: url('B52.eot');
    src: local('B52'),
        url('B52.eot?#iefix') format('embedded-opentype'),
        url('B52.woff') format('woff'),
        url('B52.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: B52;
    font-size: 20px;
}
h2 {
    font-weight: 100;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: rgb(182, 15, 15);
}
header {
    box-sizing: border-box;
    padding: 0 20px 0 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(206, 182, 119)
}

.name {

}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;


}

.header-menu li {
    padding-right: 20px;
    list-style: none;
}
.flex-row {
    display: flex;
    flex-direction: row;
}

.sidebar {
    flex: 1 1 30%;
    padding: 20px;
    background-color: rgb(59, 59, 35);
    color: rgb(194, 195, 223);
    line-height: 2;
}

.sidebar li {
    font-size: 1em;
}

.smaller {
    font-size: smaller;
    font-style: italic;
}
main {
    flex: 2 1 70%;
    padding: 50px 150px;
    align-items: center;
    font-size: 1.5em;
    line-height: 1.5;
}